<h1>See below for post details for the <%= @category.name %> category: </h1>
    <% @category.posts.each do |post| %>
        <h3>Title: <%= link_to post.title, post_path(post) %></h3>
        <h3>Post Content: </h3>
        <%= post.content %>
    <% end %>
 
   